*
{
	
	
	margin: 0px;
	
	
}


body
{
	
	background-color:#E6E6FA;
}
	
	
	
#header
{
	
	height:6%;
	
	width:90%;
	
	background-color:#3F3F3F;
	
	position: fixed;
	left:10%;
	line-height: 140%;
	font-size: 130%;
	text-align:Center;
	font-weight:bolder;
	color:white;
	z-index: 100;
}


.pic
{
	
	width:35px;
	height:30px	;
	float: right;

}



#main {
	width:88%;
	height:95%;
	
padding-top: 20px;


	float:right;
}

#sidebar
{
	padding-top:50px;
	
	position: fixed;
	width:11%;
	height:100%;
	background-color:#3F3F3F;
text-align: center;
	line-height: 100%;
		
}

#sidebar li 
{
width:100%;
	width:100%;

	height: 30px;
list-style:none;

}


.active
{
	
	background-color: #36AF3B;
}
li a
{
	
	color: white;
	text-decoration: none;
	
}

#main div
{
	
	
	background-color: white;
}


.title
{
	
	font-family: serif;
	font-size: 20px;
	font-weight: lighter;
	text-decoration: overline;
	color:red;
	
}


#videos {
	width: 48%;
	height:50%;

margin-right: 2%;
	float: left;
		overflow-y:auto;
			box-shadow: 10px 10px 5px #9999F3;
	margin-top: 3%;
	overflow-x: auto;
	
}

#finds {
		width: 48%;
	height:50%;
	float:left;
	overflow-y:auto;
			box-shadow: 10px 10px 5px #9999F3;
	margin-top: 3%;
	margin-bottom: 25px;
	
}

#feed {
	
	width:98%;
   	height:99%;
  	overflow-y:auto;
	
	box-shadow: 20px 10px 10px #CCCCF3 ;
	margin-top:41%;
	
}

.fnd_cont {
box-shadow: 3px 5px 5px #f1f1f1;
	
/*border-top-color:red;
border-top-style:solid;
border-top-width:medium;
*/
	list-style: none;
	height:70px;
	line-height: 70px;
	color: orange;
	margin-top: 5px;
	font-size: 16px;
	
		width: auto;
	overflow: hidden;
}

.lin
{
	color:orange;
	
}


.vid_cont {
	list-style: none;
	
		width: auto;
	overflow: hidden;
	box-shadow: 3px 5px 5px #f1f1f1;
border-top-color:red;
border-top-style:solid;
border-top-width:thin;

	list-style: none;
	height:70px;
	line-height: 35px;
	color: orange;
	margin-top: 5px;
}
	
	.v_link
	{
		color:red;
		position:relative;
		top:-35%;
		 font-size: 16px;
		overflow-x:auto;
		
		width: auto;
	overflow: hidden;
	}

.vid_cont img
{
	
	height:70px;
	width:100px;
	

}
	
	#feed_cont
	{
		
		padding-top: 2%;
		
	}

	.post_title
	{
		
		color: green;
		font-size: 25px;
		font-weight:lighter;
		margin-bottom: 30px;
			font-family: fantasy;
			padding-right: 3px;
	padding-left: 15px;

	}
	

.post_content {
	font-weight: 100;
	font-family: fantasy;
	font-size: 18px;
	padding-right: 15px;
	padding-left: 15px;
	border-bottom: solid;
	border-width:2;
	border-color: red;
	padding-bottom: 20px;
	margin-bottom: 25px;
	line-height: 50px;
}


.post_content img
{
	
	height:60%;
	width:100%;
}

.clear {
	width:100%;
	height:80px;
	position:absolute;
	top:53%;
	opacity: 0;
}

#vid_contents {
		width: auto;
	overflow: hidden;
}

#finds_content {
	
		width: auto;
	overflow: hidden;
}
