
@media screen and (min-width:700px)
{	
	

#box
{
	
	background-color: white;
	width:25%;
	height:35%;
	min-width:300px;
	min-height: 300px;
	position: absolute;
	top:35%;
	left:37.5%;
	box-shadow: 10px 25px 45px #5F5F5F;
	text-align: center;
}
	
	#button
	{
		
		color: white;
		background-color: #3EAAF3;
		border: none;
		height: 30px;
		width: 100px;
		font-weight: bolder;
		margin-top:20px;
	}

	.text ,.pass
	{
		
		border-style: solid;
		border-width:2;
		border-color: #F1F1F1;
		height: 40px;
		width: 90%;
font-size: 20px;
		font-weight: lighter;
		font-family: serif;
	}
	
	.text
	{
			margin-top:0px;
			margin-bottom: 20px;
			
	}
	
	.logo
	{
		
		width:128px;
		height:128px;

		
	}
	
}

@media screen and (max-width:699px)
{		
#box
{
overflow:auto;	
	background-color: white;
	width:50%;
	height:45%;
	min-width:250px;
	min-height: 200px;
	max-width: 300px;
	max-height: 300px;
	position: absolute;
	top:35%;
	left:15%;
	overflow: scroll;
	box-shadow: 10px 25px 45px #5F5F5F;
	text-align: center;
}
	
	#button
	{
		
		color: white;
		background-color: #3EAAF3;
		border: none;
		height: 25px;
		width: 100px;
		font-weight: bolder;
		margin-top:20px;
		height: 15%;
	}

	.text ,.pass
	{
		
		border-style: solid;
		border-width:2;
		border-color: #F1F1F1;
		height: 15%;
		width: 90%;
font-size: 20px;
		font-weight: lighter;
		font-family: serif;
	}
	
	.text
	{
			margin-top:0px;
			margin-bottom: 10px;
			
	}
	
	.logo
	{
		
		width:64px;
		height:64px;

		
	}

}
	
